html {
  font-size: 20px;
  line-height: 1.5;
  font-family: 'IM Fell DW Pica', serif;
}

body {
  max-width: 64rem;
  margin: 3rem auto;
  background: #ddd3b7;
  color: #0d0c02;
}

#video {
  clear: both;
  margin-bottom: 3rem;
  padding-bottom: 55%;
  position: relative;
  height: 0;
  overflow: hidden;
}

#video iframe,
#video object,
#video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#title {
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 1280px) {
  #title {
    float: right;
    margin-left: 2rem;
  }
}

#title-image {
  max-width: 30rem;
  height: auto;
}

.heading {
  font-style: italic;
  text-align: center;
  font-size: 2rem;
  margin: 3rem 0 2rem;
}

.first {
  margin-top: 0;
}

.paragraph {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 1280px) {
  #text {
    padding: 0 1rem;
  }
}