html {
  font-size: 20px;
  line-height: 1.5;
  font-family: 'IM Fell DW Pica', serif;
}

body {
  max-width: 64rem;
  margin: 3rem auto;
  background: #ddd3b7;
  color: #0d0c02;
}

#title {
  float: right;
  margin: 0 0 2rem 3rem;
}

#title-image {
  max-width: 30rem;
  height: auto;
}

.heading {
  font-style: italic;
  text-align: center;
  font-size: 2rem;
  margin: 3rem 0 2rem;
}

.first {
  margin-top: 0;
}

.paragraph {
  margin-bottom: 1rem;
}